{#
/**
 * Export plugin for Craft CMS
 *
 * Export Settings.twig
 *
 * @author    Hill Holliday
 * @copyright Copyright (c) 2016 Hill Holliday
 * @link      http://hhcc.com
 * @package   Export
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

<h2>API Information</h2>
{{ forms.textField({
    label: 'API to scrape',
    instructions: 'The location of the JSON API that the export too should scrape. Usually thissite.com/api/v1/content/get.json or something similar',
    id: 'apiEndpoint',
    name: 'apiEndpoint', 
    value: settings['apiEndpoint']})
}}

{{ forms.textField({
    label: 'Service URL',
    instructions: 'Location of Site Exporter API',
    id: 'serviceUrl',
    name: 'serviceUrl', 
    value: settings['serviceUrl']})
}}

{{ forms.textField({
    label: 'API Key',
    instructions: 'API Key related to this website from the Site Exporter tool',
    id: 'apiKey',
    name: 'apiKey', 
    value: settings['apiKey']})
}}
<br/>

<h2>htaccess Information</h2>
{{ forms.textField({
    label: 'htaccess Username',
    instructions: 'htaccess username. Leave blank if it does not exist',
    id: 'htaccessUsername',
    name: 'htaccessUsername', 
    value: settings['htaccessUsername']})
}}

{{ forms.textField({
    label: 'htaccess Password',
    instructions: 'htaccess password. Leave blank if it does not exist',
    id: 'htaccessPassword',
    name: 'htaccessPassword', 
    value: settings['htaccessPassword']})
}}
<br/>

<h2>Delivery Information</h2>
{{ forms.selectField({
    label: 'Delivery Type',
    instructions: 'Should this export be processed as a ZIP or uploaded to S3',
    id: 'deliveryType',
    options: {
        "s3": "S3",
        "rackspace": "Rackspace Files",
        "zip": "Zip",
        "ftp": "FTP",
        "sftp": "SFTP",
    },
    name: 'deliveryType',
    value: settings['deliveryType']})
}}

{{ forms.selectField({
    label: 'Site Location',
    instructions: 'Where the exported version of the site will live. (Only applicable if anything but zip is selected)',
    id: 'siteLocation',
    options: {
        "staging-aws.onebostonday.org": "Staging",
        "onebostonday.org": "Production"
    },
    name: 'siteLocation',
    value: settings['siteLocation']})
}}

{{ forms.textField({
    label: 'Who should be notified?',
    instructions: 'List of people who should be emailed. Seperate with commas. (Only works if the above field is set to "Zip File").',
    id: 'emails',
    name: 'emails', 
    value: settings['emails']})
}}
