{% extends '_layout' %}

{% block content %}

<main class="story">
    <section class="header-intro short">
        <h1>{{entry.title}}</h1>
    </section>

    {% set images = entry.galleryImages.find() %}

    <section class="photos">
        <div class="holder" style="background-image:url({{images[0].url}})"></div>
        <ul class="thumbs">
            {% for image in images %}
                <li {% if loop.first %}class="active"{% endif %} style="background-image:url({{image.url}})"></li>
            {% endfor %}
        </ul>
    </section>

    <section class="story block">
        {% for question in entry.questionsBlock %}
            <h3>{{question.prompt.value}}</h3>
            {{question.answer}}
        {% endfor %}
    </section>

    <section class="links block">
        <h3>Additional Links:</h3>
        <ul>
            {% for link in entry.additionalLinks %}
                <li><a href="{{link.pageUrl.url}}" target="_blank">{{link.pageUrl.text}}</a></li>
            {% endfor %}
        </ul>
        <h3>Share this story:</h3>
        <ul class="social-share">
            <li>
                <a href="http://www.facebook.com/sharer/sharer.php?u={{entry.url}}">
                    <svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
                </a>
            </li>
            <li>
                <a href="http://twitter.com/intent/tweet?status={{entry.url}}">
                    <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
                </a>
            </li>
            <li>
                <a href="mailto:?subject={{entry.title}}&body={{entry.url}}" class="is-email">
                    <svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg>
                </a>
            </li>
        </ul>
        <a class="button btn primary" href="/stories">View all stories</a>
    </section>
</main>

{% endblock %}