{% extends '_layout' %}

{% set randomLogoArray = [
    'OneBostonDay_Logo_01_BlueNavy-square.jpg',
    'OneBostonDay_Logo_02_BlueWhite-square.jpg',
    'OneBostonDay_Logo_09_GreenBlue.jpg',
    'OneBostonDay_Logo_10_NavyWhite.jpg',
    'OneBostonDay_Logo_14_BlackWhiteTeal.jpg',
    'OneBostonDay_Logo_15_PurpleBlack.jpg',
    'OneBostonDay_Logo_13_TealBlack.jpg',
    'OneBostonDay_Logo_13_Rainbow.jpg',
    'OneBostonDay_Logo_11_YellowNavy.jpg',
    'OneBostonDay_Logo_08_GrayWhite.jpg',
    'OneBostonDay_Logo_07_Black.jpg',
    'OneBostonDay_Logo_06_GrayWhite.jpg',
    'OneBostonDay_Logo_04_BlueNavy.jpg'
] %}

{% block content %}

<main class="story">
    <section class="header-intro">
        <h1>{{entry.title}}</h1>
        {% if entry.onBehalfOf %}
            <h3>On behalf of: {{entry.onBehalfOf}}</h3>
        {% endif %}
    </section>

    {% set images = entry.galleryImages.find() %}



    {% if images|length %}

        {% set firstImage = images[0] ?? null %}

        {% set thumb = {
            mode: 'crop',
            width: 700,
            quality: 90,
            position: 'center-center'
        } %}

        {% set firstOrientation = null %}
        {% if firstImage.width > firstImage.height  %}
            {% set firstOrientation = "horizontal" %}
        {% else %}
            {% set firstOrientation = "vertical" %}
        {% endif %}
        <section class="photos">
            <div class="holder {{firstOrientation}}" style="background-image:url({{firstImage.getUrl(thumb)}}); background-position: {{ firstImage.focusPctX }}% {{ firstImage.focusPctY }}%;"></div>
            {% if images|length > 1 %}
                <ul class="thumbs">
                    {% for image in images %}
                        {% set orientation = null %}
                        {% if image.width > image.height  %}
                            {% set orientation = "horizontal" %}
                        {% else %}
                            {% set orientation = "vertical" %}
                        {% endif %}
                        <li class="{% if loop.first %}active{% endif %}" data-orientation="{{orientation}}" style="background-image:url({{image.url}}); background-position: {{ image.focusPctX }}% {{ image.focusPctY }}%;"></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </section>
    {% endif %}

    <section class="story block">
        {% for question in entry.questionsBlock %}
            <h3>{{question.prompt.value}}</h3>
            {{question.answer}}
        {% endfor %}
        {% if entry.customTextField %}
            {{entry.customTextField}}
        {% endif %}
    </section>

    <section class="links block">
        {% if entry.additionalLinks|length %}
            <h3>Additional Links:</h3>
            <ul>
                {% for link in entry.additionalLinks %}
                    <li><a href="{{link.pageUrl.url}}" target="_blank">{{link.pageUrl.text}}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
        <h3>Share this story:</h3>
        <ul class="social-share">
            <li>
                <a href="http://www.facebook.com/sharer/sharer.php?u=http://onebostonday.org/{{entry.uri}}">
                    <svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
                </a>
            </li>
            <li>
                <a href="http://twitter.com/intent/tweet?status=http://onebostonday.org/{{entry.uri}}">
                    <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
                </a>
            </li>
            <li>
                <a href="mailto:?subject={{entry.title}}&body=http://onebostonday.org/{{entry.uri}}" class="is-email">
                    <svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg>
                </a>
            </li>
        </ul>
        <a class="button btn primary" href="/stories">View all stories</a>
    </section>
</main>

{% endblock %}