{% extends '_layout' %}

{% block content %}
<main class="stories">
    <section class="header-intro">
        <h1>Stories</h1>
        <p>PLACEHOLDER: Read and learn about first-hand stories and new initiatives from those brave people who were at the marathon</p>
    </section>

    <section class="stories">
        <div class="block">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            <nav class="story-nav">
                <div>
                    <label>
                        <span>Order:</span>
                        <div class="select-wrapper">
                            <select>
                                <option>Random</option>
                                <option>Alphabetically</option>
                            </select>
                        </div>
                    </label>
                </div>
                {# <div>
                    <label>
                        <span>Show Excerpts:</span>
                        <input type="checkbox" name="show-excerpts" checked>
                    </label>
                </div> #}
            </nav>

            {# TODO - Shuffle Stories #}
            <div class="story-list" id="stories-list">
                {% set stories = craft.entries.find({
                    section: 'stories',
                    with: ['galleryImages', 'questionsBlock']
                }) %}
                <ul>
                    {% for story in stories %}
                        {% set image = story.galleryImages[0] ?? null %}
                        <li>
                            <a href="{{story.url}}">
                                <div>
                                    <img src="{{image.url}}">
                                    <h3>{{story.firstName}} {{story.lastName}}</h3>
                                    {% if story.onBehalfOf %}
                                        <h4>On Behalf of: {{story.onBehalfOf}}</h4>
                                    {% endif %}
                                </div>
                                <p>{{story.questionsBlock[0].answer|slice(0,150)|raw}}...</p>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</main>
{% endblock %}