{% extends "_layout" %}


{% block content %}

<main class="index" role="main">
	<section class="intro" id="intro" aria-label="One Boston Day Overview and Video">
		<div class="wrapper">
			<div class="block">
				<div class="copy">
					<h1>One Boston Day</h1>
					{{entry.introCopy}}
				</div>
			</div>
			{% if entry.videos|length > 0 %}
			<div class="block">
				<ul>
				{% for video in entry.videos %}
					{% set thumb = video.videoThumbnail.first() %}
					<li>
						<button data-videoid="{{video.videoId}}" title="Watch: {{video.videoTitle}}">
							<div class="thumbnail" style="background-image:url('{{video.videoThumbnail.first().url}}')">
								<span><svg class="icon icon-play"><use xlink:href="#icon-play"></use></svg></span>
							</div>
							<h4>{{video.videoTitle}}</h4>
						</button>
					</li>
				{% endfor %}
				</ul>
			</div>
			{% endif %}
		</div>
	</section>

	<section class="get-involved" id="get-involved" aria-label="Get Involved: Social">
		<div class="block">
			<div class="social">
				<div class="craft-tweet">
					<header>
						<svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
						For #OneBostonDay,
					</header>
					<div class="craft">
						<div class="input">
							<label for="tweet-field" aria-hidden="false" class="aria-hidden">Tweet your support for One Boston Day</label>
							<textarea placeholder="I will..." id="tweet-field"></textarea>
							<span class="count">36</span>
						</div>
						<button class="tweet">
							Share
						</button>
					</div>
				</div>
			</div>
			<div class="acts-of-kindness">
				<div>
					<h3>0</h3>
					<span class="acts">Acts of Kindness<em>pledged so far in 2018</em></span>
				</div>
			</div>
		</div>
	</section>

	<section class="social-feed" aria-label="Social Feed: Twitter and Instagram">
		<div class="block">
			<ul>
				<li class="gutter-sizer"></li>
			</ul>
			<button class="load-more">
				Load More
			</button>
		</div>
	</section>
</main>

{% endblock %}